<!DOCTYPE html>
<html>
<head>
	<title>Sponser List</title>
</head>
<header class="nav">
<a href="../index_home.html">Home </a> |<a href="visitor_Dashboard.html">Back</a>
</header>
<link rel="stylesheet" type="text/css" href="Tasniacss/pagestyle.css">

<body>
<h2 align="center" >Sponser List </h2>
<a href= https://evaly.com.bd/>
<img src="visitor_img/evaly.jpg" height=300 width=300 >
</a>
<a href=https://www.daraz.com.bd/>
<img src="visitor_img/daraz.jpg" height=300 width=300>
</a>
<a href=https://priyoshop.com/>
<img src="visitor_img/priyosp.jpg" height=300 width=300>
</a>



<footer class="fixed-footer">
	
<p> 19-40005-1@student.aiub.edu</p>
 
 
</footer>
</body>

</html>