<!DOCTYPE html>
<html>
<head>
	<title> Expert Introduction </title>
</head>
<header class="nav">
<a href="visitor_home.html">Home </a> |<a href="visitor_Dashboard.html">Menu</a>
</header>
<link rel="stylesheet" type="text/css" href="Tasniacss/pagestyle.css">
<body>
<h1 align ="center">Expert Introduction</h1>

<table border="1" width="80%" height ="50%" align="center" >
				
				<tr align="center">
					<td> Name </td>
					<td> Email </td>
					<td> Expert Type </td>
					<td> Instituation </td>
					
				
				</tr>
				<tr>
					<td> XYZ </td>
					<td> xyz@gmail.com </td>
					<td> agriculture </td>
					<td> Bangladesh Agriculture university</td>
					
				
				</tr>
				
	
				<tr>
					<td> X </td>
					<td> x@gmail.com </td>
					<td> Fishery </td>
					<td> Bangladesh Agriculture university</td>
					
				
				</tr>
	
			</table>
			<br>
			
		
</form>
<footer class="fixed-footer">
	
<p> &copy;Copyright Reserved.</p>
 
 
</footer>
</body>

</html>