<!DOCTYPE html>
<html>
<head>
	<title>Apply Page</title>
</head>
<header class="nav">
<a href="../index_home.html">Home </a> |<a href="visitor_Dashboard.html">Back</a>
</header>
<link rel="stylesheet" type="text/css" href="Tasniacss/formstyle.css">
<body>

<div class="center" height="50px">
	<form method="post" action="../controller/intregistrationcheck.php">

		<fieldset>
			<legend>Apply Here</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="email"></td>
				</tr>
				<tr>
				<td>Gender</td>
                                 <td><input type="radio" name="gender" value="Male">Male
                                        <input type="radio" name="gender" value="Female">Female
                                        <input type="radio" name="gender" value="Other">Other
                                   
                                </td>
								</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
		
	</form>
</div>
<br>
  <footer class="fixed-footer">
	
<p> &copy;Copyright Reserved.</p>
 
 
</footer>
</body>
</html>