
<html>
<head>
	<title>Agriculture website</title>
	<link rel="stylesheet" type="text/css" href="Tasniacss/visitorstyle.css">
	
</head>
<body>
<form > 

	<header>
	<div class="nav">
	<a href="../index_home.html">Home </a> |<a href="signup.php">Signup</a>|<a href="Vlogout.php">Logout</a>
	</div>
	</header>
	
	
	<ul>
	
	<li >
		 <a href="Vuserlist.php">User List</a> <br/>
		<li/>
		<a href="signup.php">Create Account </a> <br/>
		 
		 <a href="volunter_registration.html">Apply For volunteer </a> <br/>
		 <a href="intren_registration.html">Apply For Internship </a> <br/>
		 <a href="sponser_registration.html">Apply For Sponsor </a> <br/>
		 <a href="visitorhelp.php">Help & Suggestion</a> <br/>
		 <a href="visitordonate.php">Donate</a> <br/>
		 <a href="visitorCourseList.php">Course List </a> <br/>
		  <a href="mannual.html">Mannual </a> <br/>
		 <a href="visitorweather.php">Weather Update</a> <br/>
		 <a href="ur.html">University and research institutions </a> <br/>
		 <a href="expintro.html">Expert Introduction </a> <br/>
		 <a href="visitor_qna.php">QnA </a> <br/>
		 <a href="visitor_sponserlist.html">Sponser List </a> <br/>
		 <a href="visitor_article.php">Read Article </a> <br/>
		 <a href="visitor_contact.php">Contact Us </a> <br/>
		 
		 <a href="visitor_community.html">Our Community </a> <br/>
		 
		 
		 <a href="visitor_gallary.html">Galllary </a> <br/>
		 
		 <a href="events.php">Events</a> <br/>
		 
		 </li>
		  <a href="news.php">News</a>
		 
		 
	
	</li>
	</ul>
	<br> 
	
	<footer class="fixed-footer">
	<p> 19-40005-1@student.aiub.edu</p>
	</footer>
</body>
</html>

